@import "variables";

app-footer {
  display: block;
  background: $footerBg;

  color: $footerColor;

  a {
    color: $footerLinkColor;

    &:hover {
      color: darken($footerLinkColor, 15%);;
    }
  }
  .social-list {}
  .social__link {
    padding: 10px;
  }
}

.app-footer__container {
  padding: 20px 0;
}
