@import "variables";

.app-header {
  display: block;

  background: $headerBg;
  background: linear-gradient(45deg,  rgba(255,131,0,1) 0%,rgba(249,91,0,1) 44%,rgba(249,124,0,1) 73%,rgba(255,131,0,1) 100%);

}

.logo {}

.logo__link {
  display: block;
  padding: 15px 0;
  color: $logoColor;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;

  &:hover {
    color: $logoColorHover;
  }
}

.app-nav {

}

.app-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  white-space: nowrap;
}

.app-nav__item {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;

  &:first-child {
    margin-left: 0;
  }
}

.app-nav__link {
  display: block;
  padding: 18px 30px;
  color: $navLinkColor;
  text-transform: lowercase;
  text-decoration: none;
  font-weight: 600;

  transition: background-color .2s ease-in;

  &:hover {
    color: $navLinkHoverColor;
    background-color: $navLinkHoverBg;
  }

  .active & {
    text-decoration: none;
  }
}
