@import "variables";

.app-jumbotron {
  padding-bottom: 20px;
  min-height: 300px;
  text-align: center;
  color: $jumbotronColor;
}

.app-jumbotron__description {
  font-size: 1.5em;
  font-weight: normal;
}


.button--jumbotron {
  color: $buttonJumbotronColor;
  background: $buttonJumbotronBg;
}
