.app-jumbotron {
  padding-bottom: 20px;
  min-height: 300px;
  text-align: center;
  color: #fff;
}

.app-jumbotron__description {
  font-size: 1.5em;
  font-weight: normal;
}


.button--jumbotron {
  color: #F95C00;
  background: white;
}
