@import "variables";

partners {
  display: block;
  margin: 40px 0 0;
  padding: 40px 0;
  color: $partnersColor;
  background: rgb(255,131,0);
  background: linear-gradient(45deg,  rgba(255,131,0,1) 0%,rgba(249,91,0,1) 44%,rgba(249,124,0,1) 73%,rgba(255,131,0,1) 100%);
}
.partners-item {
  flex: 0 0 33%;
  max-width: 33%;
  margin-bottom: 40px;
}
.partners-item__container {
  display: block;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  color: $text-color;
  background-color: $partnersItemBg;
  border-radius: 4px;
}

.partners-item__logo {
  margin-bottom: 10px;
  height: 120px;

  > img {
    max-width: 100%;
    max-height: 120px;
  }
}

.partners-item__name {
  font-size: 1rem;
}

.partners-item__desc {
  color: $partnersItemDesc;
}
