nav.navbar(main-menu=true)

.container
  form.toolbox.columns.twelve
    .row
      .columns.nine
        input.u-full-width(type="text", placeholder="найти")
      .columns.three
        a.button.button-primary.u-full-width(href='#/communities/new', ng-if='isAuthenticated()') Добавить

  .row
    .columns.twelve
      ul.communities
        li.community(ng-repeat='e in communities')
          a(href='#/communities/{{ e.id }}')
            b.index {{ $index }}

            span.element_name(href='#/communities/{{ e.id }}') {{ e.elem }}

            ul.properties
              li.members
                i.fa.fa-users
                |  {{e.members_count + 10 }}
              li.meetups
                i.fa.fa-flag
                |  {{ 7 }}
