nav.navbar(main-menu=true)

.container
  form(ng-submit='save()', novalidate='novalidate', name='form', ng-controller='NewCommunityCtrl')
    .row
      p.columns.twelve.help-block(ng-if="hasError('base')", ng-repeat="error in errors['base']") {{ error }}

    .row
      .columns.six
        .form-group(ng-class="{ 'has-error': hasError('name') }")
          label(for='name') Название
          input.u-full-width(type='text', ng-model='community.name')
          .help-block(ng-if="hasError('name')", ng-repeat="error in errors['name']")
            p {{ error }}
      .columns.six
        .form-group(ng-class="{ 'has-error': hasError('short_name') }")
          label(for='short_name') Короткое название
          input.u-full-width(type='text', ng-model='community.short_name')
          .help-block(ng-if="hasError('short_name')", ng-repeat="error in errors['short_name']")
            p {{ error }}

    .row
      .columns.six
        .form-group(ng-class="{ 'has-error': hasError('element') }")
          label(for='element') Элемент
          input.u-full-width(type='text', ng-model='community.element')
          .help-block(ng-if="hasError('element')", ng-repeat="error in errors['element']")
            p {{ error }}

      .columns.six
        .form-group(ng-class="{ 'has-error': hasError('hashtag') }")
          label(for='hashtag') Хештег
          input.u-full-width(type='text', ng-model='community.hashtag')
          .help-block(ng-if="hasError('hashtag')", ng-repeat="error in errors['hashtag']")
            p {{ error }}

    .row
      .columns.twelve
        .form-group(ng-class="{ 'has-error': hasError('tags') }")
          label(for='tags') Теги
          input.u-full-width(style='width: 100%', type='text', ng-model='community.tags', selectize='tagsConfig()')
          .help-block(ng-if="hasError('tags')", ng-repeat="error in errors['tags']")
            p {{ error }}

      .columns.twelve
        .form-group(ng-class="{ 'has-error': hasError('description') }")
          label(for='description') Описание (markdown)
          textarea.u-full-width(ng-model='community.description', epiceditor='descriptionConfig()', rows='20')
          .help-block(ng-if="hasError('description')", ng-repeat="error in errors['description']")
            p {{ error }}

    .row
      .columns.twelve
        .form-group.u-full-width(ng-class="{ 'has-error': hasError('links') }")
          label(for='links') Ссылки
          input.u-full-width(type='text', ng-model='community.links')
          .help-block(ng-if="hasError('links')", ng-repeat="error in errors['links']")
            p {{ error }}

    .row
      .columns.twelve
        button.button.button-new(type='submit') Отправить
        a.button.button-default(href='#/communities') Отмена