header.app-header
  app-header

section.app-main
  .container.margin-v
    .layout-row.layout-wrap.layout-margin.communities__list
      .communities__item.flex
        .community
          .community__count 8
          .community__abbr {{ community.elem }}
          .community__meta
            span.fa.fa-user
            = " "
            span 10
            = ", "
            span.fa.fa-flag
            = " "
            span 7
      .flex
        h1 {{ community.name }}
        .info(ng-bind-html="community.description | rawHtml")

        .layout-row.layout-wrap.layout-margin
          events-soon.flex
          members.flex

app-footer.app-footer