header.app-header
  app-header

section.app-main
  .container.margin-v
    .layout-row.layout-wrap.layout-margin.communities__list
      .communities__item.flex
        .community
          .community__count {{ community.id }}
          .community__abbr {{ community.elem }}
          .community__meta
            span.fa.fa-user
            = " "
            span 10
            = ", "
            span.fa.fa-flag
            = " "
            span 7

        br

        .actions(ng-if='!!isAuthenticated()')
          a.button.button-success(ng-click='join()', ng-show='!isMember()') Присоединиться
          a.button.button-success(ng-click='leave()', ng-show='isMember()') Выйти
      .flex
        h1 {{ community.name }}
        .info(ng-bind-html="community.description | rawHtml")

        .layout-row.layout-wrap.layout-margin
          events-list.flex(ng-init="title = 'События'")
          users-list.flex(ng-init="title = 'Участники'")

app-footer.app-footer