main-menu
.container
  .row
    .col-lg-3
      .thumbnail
        img(src='{{community.logo}}')
    .col-lg-9
      h2  {{community.name}}
      p.lead(ng-bind-html='community.description | rawHtml')
      div(ng-if='isAuthenticated()')
        button.btn.btn-primary(ng-click='join()', ng-if='!isMember()') Присоединиться
        button.btn.btn-primary(ng-click='leave()', ng-if='isMember()') Выйти из сообщества
  .row
    .col-lg-6
      .forthcoming-events.list-group
        a.event.list-group-item(ng-repeat='event in events', href='#/events/{{event.id}}')
          h4
            small.date.pull-right.badge {{event.start | moment}}
            | {{event.title}}
          h5
            | {{event.community.name}}
            address.pull-right
              i.fa.fa-map-marker
              |  Большая морская 19
    .col-lg-6
      ul.members.list-group
        a.user.list-group-item(ng-repeat='user in community.users', href='#/users/{{user.id}}')
          .row
            .col-lg-2
              img.img-circle(src='{{user.avatar}}')
            .col-lg-10
              h4 {{user.name}}
