<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h3>
          Piter-United
        </h3>
        <p class="lead">
          Некоммерческая инициатива по созданию экосистемы способствующей появлению и развитию профессиональных IT-сообществ в Санкт-Петербурге.
        </p>
      </div>
      <div class="col-lg-3"></div>
      <div class="col-lg-4">
        <h3>
          Контакты
        </h3>
        <ul class="contacts">
          <li>
            <a href="#">Piter-United в Google+</a>
          </li>
          <li>
            <a href="#">Piter-United в Вконтакте</a>
          </li>
          <li>
            <a href="#">Piter-United в Facebook</a>
          </li>
          <li>
            <a href="#">Piter-United в Twitter</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>