<main-menu></main-menu>

<div class="jumbotron cover">
  <div class="container"><a href="/users/sign_in" role="button" class="btn btn-primary btn-lg pull-right">Присоединииться</a>
    <h1>Piter United</h1>
    <p>Объединение IT-сообществ Санкт-Петербурга</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <center>
        <h1>30</h1>
        <h2>Сообществ</h2>
      </center>
    </div>
    <div class="col-lg-4">
      <center>
        <h1>500+</h1>
        <h2>Митапов в год</h2>
      </center>
    </div>
    <div class="col-lg-4">
      <center>
        <h1>2000</h1>
        <h2>Специалистов</h2>
      </center>
    </div>
  </div>
</div>

<hr/>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="anu alf akz">
        <h4 class="anv anw">Ближайшие митапы</h4>
      </div>
      <div class="forthcoming-events list-group"><a ng-repeat="event in events" href="#/events/{{event.id}}" class="event list-group-item">
          <h4><small class="date pull-right badge">{{event.start | moment}}</small>{{event.title}}</h4>
          <h5>{{event.community.name}}
            <address class="pull-right"><i class="fa fa-map-marker"></i> Большая морская 19</address>
          </h5></a><a href="#/events" class="more list-group-item">Посмотреть все митапы</a></div>
    </div>
    <div class="col-lg-6">
      <div class="anu alf akz">
        <h4 class="anv anw">Новые сообщества</h4>
      </div>
      <div class="fresh-communities list-group"><a ng-repeat="community in communities" href="#/communities/{{community.id}}" class="list-group-item">
          <h4><small class="date pull-right badge">{{community.created_at | moment}}</small>{{ community.name}}</h4>
          <div class="info"><i class="fa fa-users"></i> участников – {{community.members_count + 10}}&nbsp;&nbsp;&nbsp;<i class="fa fa-flag"></i> встречь – {{7}}</div></a><a href="#/communities" class="more list-group-item">Посмотреть все сообщества</a></div>
    </div>
  </div>
</div>