<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" href="/#/">
        <img src="http://piter-united.ru/img/piterunited.png"/>
      </a>
    </div>

    <nav class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li ng-class="{'active': item.active}" ng-repeat="item in menu" class="ng-scope">
          <a href="{{ item.href }}"><span>{{ item.display }}</span></a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-if="!isAuthenticated()" class="ng-scope">
          <a class="btn btn-primary" href="#/sign_in"><span>Войти</span></a>
        </li>

        <li ng-if="isAuthenticated()" class="ng-scope">
          <a class="btn btn-primary" ng-click="logout()"><span>Выйти</span></a>
        </li>
      </ul>
    </nav>

  </div>
</div>