header.app-header
  app-header
search.app-search
section.app-main
  .container.margin-v
    .layout-row.layout-wrap.layout-margin
      .flex
        events
      .flex.layout-sidebar
        calendar
app-footer.app-footer
