header.app-header
  app-header
  .container.layout-row.layout-center.app-jumbotron
    .app-jumbotron__description
      p Многие кометы имеют два хвоста, однако апогей ничтожно отражает Каллисто. Приливное трение, и это следует подчеркнуть, решает параметр.
      timer(ng-show="timer", date="count")

section.app-main
  .container.margin-v
    .layout-row.layout-wrap.layout-margin.communities__list
      .communities__item.flex
        .community
          .community__count {{ event.community.id }}
          .community__abbr {{ event.community.elem }}
          .community__meta
            span.fa.counter.fa-user {{ event.community.size }}
            span.fa.counter.fa-flag {{ event.community.activity }}

      .flex
        h1 {{event.title }}
        .info(ng-bind-html="event.description | rawHtml")

        .layout-row.layout-wrap.layout-margin
          .flex
            ul.aside__list
              li.aside__item
                .aside__item-container
                  .aside__title
                    span.fa.fa-user
                    |&nbsp;
                    |Janet Sanders
                    |&mdash;
                    |Идет на мероприятие

              li.aside__item
                .aside__item-container
                  .aside__title
                    span.fa.fa-user
                    |&nbsp;
                    |Janet Sanders
                    |&mdash;
                    | Не идет на мероприятие

              li.aside__item
                .aside__item-container
                  .aside__title
                    span.fa.fa-user
                    |&nbsp;
                    |Janet Sanders
                    |&mdash;
                    |Возможно придет

              li.aside__item
                .aside__item-container
                  .aside__title
                    span.fa.fa-user
                    |&nbsp;
                    |Janet Sanders
                    |&mdash;
                    | Не идет на мероприятие


  map
app-footer.app-footer
