<menu></menu>

<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="thumbnail"><img src="{{community.logo}}"/></div>
    </div>
    <div class="col-lg-9">
      <h2> {{community.name}}</h2>
      <p ng-bind-html="community.description | rawHtml" class="lead"></p>
      <div ng-if="isAuthenticated()">
        <button ng-click="join()" ng-if="!isMember()" class="btn btn-primary">Присоединиться</button>
        <button ng-click="leave()" ng-if="isMember()" class="btn btn-primary">Выйти из сообщества</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="forthcoming-events list-group"><a ng-repeat="event in events" href="#/events/{{event.id}}" class="event list-group-item">
          <h4><small class="date pull-right badge">{{event.start | moment}}</small>{{event.title}}</h4>
          <h5>{{event.community.name}}
            <address class="pull-right"><i class="fa fa-map-marker"></i> Большая морская 19</address>
          </h5></a></div>
    </div>
    <div class="col-lg-6">
      <ul class="members list-group"><a ng-repeat="user in community.users" href="#/users/{{user.id}}" class="user list-group-item">
          <div class="row">
            <div class="col-lg-2"><img src="{{user.avatar}}" class="img-circle"/></div>
            <div class="col-lg-10">
              <h4>{{user.name}}</h4>
            </div>
          </div></a></ul>
    </div>
  </div>
</div>