header.app-header
  app-header
  jumbotron

section.app-main
  activities

  .container
    .layout-row.layout-margin
      active-community.flex(ng-init=" title = 'Активные сообщества' ")
      events-soon.flex

  partners
  map

app-footer.app-footer