header.app-header
  app-header
search.app-search
section.app-main
  .container.margin-v
    .layout-row.layout-wrap.layout-margin
      .flex
        people

      .flex.layout-sidebar
        label.control__label Фильтр по сообществу
        select(type="text", class="control__select")
          option Agi
          option SPb
          option UX
          option Dev
          option IT
          option FPr
          option Pit
          option MOD
          option Hac
          option 3D4

app-footer.app-footer
