.callendar
  .callendar-header.row
    .columns.one
      i.link.fa.fa-angle-left(ng-click='previous()')
    center.columns.ten
      span {{ month.format("MMMM, YYYY") }}
    .columns.one
      i.link.fa.fa-angle-right(ng-click='next()')

  .callendar-numbers.row
    table
      tr
        th ВС
        th ПН
        th ВТ
        th СР
        th ЧТ
        th ПТ
        th СБ
      tr(ng-repeat='week in weeks')
        td(ng-class="{ today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected) }", ng-click='select(day)', ng-repeat='day in week.days')
          span.link.day {{day.number}}