footer#footer
  .container
    .row
      .col-lg-5
        h3
          | Piter-United
        p.lead
          | Некоммерческая инициатива по созданию экосистемы способствующей появлению и развитию профессиональных IT-сообществ в Санкт-Петербурге.
      .col-lg-3
      .col-lg-4
        h3
          | Контакты
        ul.contacts
          li
            a(href='#') Piter-United в Google+
          li
            a(href='#') Piter-United в Вконтакте
          li
            a(href='#') Piter-United в Facebook
          li
            a(href='#') Piter-United в Twitter
