.container
  section.header
    h1.title PITER UNITED
    h3 Объединение IT-сообществ Санкт-Петербурга

    br
    br

    a.button.button-primary(href="#/sign_in") Присоединиться

    br
    br
    br
    br

    .value-props.row
      h6.four.columns.value-prop
        a(href="#/communities")
          i.fa.fa-flask   30 Сообществ
      h6.four.columns.value-prop
        a(href="#/events")
          i.fa.fa-flag   500+ Митапов в год
      h6.four.columns.value-prop
        a(href="#/people")
          i.fa.fa-users   2000 Специалистов

    br
    br


.container
  #intro.docs-section
    h6.docs-header IT Global Meetup
    p
      | IT Global Meetup - это ежеквартальный слет IT-сообществ Петербурга.
      | Собирает на одной площадке сотни IT-специалистов из различных компаний города: программистов, менеджеров, аналитиков, дизайнеров, проектировщиков интерфейсов, тестировщиков для открытого общения и обмена профессиональным опытом, знаниями и мнениями.
      | IT Global Meetup - это уникальное по своему формату и атмосфере мероприятие. Мы стараемся максимально отойти от формата конференций “один вещает, а остальные молча слушают” и дать возможность профессионалам своего дела вступить в активные дискуссии, рассказать о своем опыте, поспорить или совместно выработать решения. Для этого мы подбираем подходящие форматы и создаем атмосферу способствующую общению.


  #intro.docs-section
    h6.docs-header IT Global Meetup
    p
      | IT Global Meetup - это ежеквартальный слет IT-сообществ Петербурга.
      | Собирает на одной площадке сотни IT-специалистов из различных компаний города: программистов, менеджеров, аналитиков, дизайнеров, проектировщиков интерфейсов, тестировщиков для открытого общения и обмена профессиональным опытом, знаниями и мнениями.
      | IT Global Meetup - это уникальное по своему формату и атмосфере мероприятие. Мы стараемся максимально отойти от формата конференций “один вещает, а остальные молча слушают” и дать возможность профессионалам своего дела вступить в активные дискуссии, рассказать о своем опыте, поспорить или совместно выработать решения. Для этого мы подбираем подходящие форматы и создаем атмосферу способствующую общению.


  #intro.docs-section
    h6.docs-header IT Global Meetup
    p
      | IT Global Meetup - это ежеквартальный слет IT-сообществ Петербурга.
      | Собирает на одной площадке сотни IT-специалистов из различных компаний города: программистов, менеджеров, аналитиков, дизайнеров, проектировщиков интерфейсов, тестировщиков для открытого общения и обмена профессиональным опытом, знаниями и мнениями.
      | IT Global Meetup - это уникальное по своему формату и атмосфере мероприятие. Мы стараемся максимально отойти от формата конференций “один вещает, а остальные молча слушают” и дать возможность профессионалам своего дела вступить в активные дискуссии, рассказать о своем опыте, поспорить или совместно выработать решения. Для этого мы подбираем подходящие форматы и создаем атмосферу способствующую общению.


  #intro.docs-section
    h6.docs-header IT Global Meetup
    p
      | IT Global Meetup - это ежеквартальный слет IT-сообществ Петербурга.
      | Собирает на одной площадке сотни IT-специалистов из различных компаний города: программистов, менеджеров, аналитиков, дизайнеров, проектировщиков интерфейсов, тестировщиков для открытого общения и обмена профессиональным опытом, знаниями и мнениями.
      | IT Global Meetup - это уникальное по своему формату и атмосфере мероприятие. Мы стараемся максимально отойти от формата конференций “один вещает, а остальные молча слушают” и дать возможность профессионалам своего дела вступить в активные дискуссии, рассказать о своем опыте, поспорить или совместно выработать решения. Для этого мы подбираем подходящие форматы и создаем атмосферу способствующую общению.

  //- #grid.docs-section
  //-   h6.docs-header The grid
  //-   p
  //-     | The grid is a
  //-     u 12-column fluid grid with a max width of 960px
  //-     | , that shrinks with the browser/device at smaller sizes. The max width can be changed with one line of CSS and all columns will resize accordingly. The syntax is simple and it makes coding responsive much easier. Go ahead, resize the browser.
  //-   .example-grid.docs-example
  //-     .row
  //-       .one.column One
  //-       .eleven.columns Eleven
  //-     .row
  //-       .two.columns Two
  //-       .ten.columns Ten
  //-     .row
  //-       .three.columns Three
  //-       .nine.columns Nine
  //-     .row
  //-       .four.columns Four
  //-       .eight.columns Eight
  //-     .row
  //-       .five.columns Five
  //-       .seven.columns Seven
  //-     .row
  //-       .six.columns Six
  //-       .six.columns Six
  //-     .row
  //-       .seven.columns Seven
  //-       .five.columns Five
  //-     .row
  //-       .eight.columns Eight
  //-       .four.columns Four
  //-     .row
  //-       .nine.columns Nine
  //-       .three.columns Three
  //-     .row
  //-       .ten.columns Ten
  //-       .two.columns Two
  //-     .row
  //-       .eleven.columns Eleven
  //-       .one.column One