.container
  ul.navbar-list
    li.navbar-item
      a.navbar-link(href="#/") piter – united

    li.navbar-item(ng-class="{ 'active': item.active }", ng-repeat='item in items')
      a.navbar-link(href='{{ item.href }}')
        span {{ item.display }}

  ul.navbar-list.profile-navbar.u-pull-right
    li.navbar-item(ng-class="{ 'active': item.active }", ng-if="!isAuthenticated()")
      a.button.button-primary(href='#/sign_in') войти

    li.navbar-item(ng-class="{ 'active': item.active }", ng-if="isAuthenticated()")
        a.button(ng-click='logout()') выйти