h2 {{ title }}

ul.aside__list
  li.aside__item
    a.aside__link(href="")
      .aside__cover Agi
      .aside__title Agile Piter
      .aside__meta
        span.fa.fa-user
        = ' '
        span 10
        = ', '
        span.fa.fa-flag
        = ' '
        span 7
  li.aside__item
    a.aside__link(href="")
      .aside__cover Spb
      .aside__title SPb Community of Analysts
      .aside__meta
        span.fa.fa-user
        = ' '
        span 10
        = ', '
        span.fa.fa-flag
        = ' '
        span 7
  li.aside__item
    a.aside__link(href="")
      .aside__cover SPb
      .aside__title SPb SQA Group
      .aside__meta
        span.fa.fa-user
        = ' '
        span 10
        = ', '
        span.fa.fa-flag
        = ' '
        span 7
  li.aside__item
    a.aside__link(href="")
      .aside__cover Ux
      .aside__title UX SPb
      .aside__meta
        span.fa.fa-user
        = ' '
        span 10
        = ', '
        span.fa.fa-flag
        = ' '
        span 7
