h2 {{ title }}

ul.aside__list
  li.aside__item(ng-repeat="community in communities")
    a.aside__link(href="/communities/{{ community.id }}")
      .aside__cover {{ community.elem }}
      .aside__title {{ community.name }}
      .aside__meta
        span.fa.fa-user
        = ' '
        span 10
        = ', '
        span.fa.fa-flag
        = ' '
        span 7