h2 Ближайшие события

ul.aside__list
  li.aside__item
    a.aside__link(href="")
      .aside__cover
        img(src="http://placehold.it/40x40")
      .aside__title Официальное открытие мероприятия
      .aside__meta 30.05.2016 c 10:15 до 12:00

  li.aside__item
    a.aside__link(href="")
      .aside__cover
        img(src="http://placehold.it/40x40")
      .aside__title Ярмарка сообществ
      .aside__meta через два часа

  li.aside__item
    a.aside__link(href="")
      .aside__cover
        img(src="http://placehold.it/40x40")
      .aside__title Регистрация участников и приветственный кофе
      .aside__meta завтра

  li.aside__item
    a.aside__link(href="")
      .aside__cover
        img(src="http://placehold.it/40x40")
      .aside__title Закрытие мероприятия и награждение победителей конкурса
      .aside__meta планируется
