.app-footer__container
  .container.layout-row.layout-center
    a(href="mailto:piterunited@gmail.com") piterunited@gmail.com
    span.flex
    .layout-row.social__list
      .flex
        a(href="", class="social__link")
          span.fa.fa-google-plus
      .flex
        a(href="", class="social__link")
          span.fa.fa-facebook
      .flex
        a(href="", class="social__link")
          span.fa.fa-vk
