.container.layout-row.layout-center.app-jumbotron
  .app-jumbotron__description
    p Многие кометы имеют два хвоста, однако апогей ничтожно отражает Каллисто. Приливное трение, и это следует подчеркнуть, решает параметр.
    timer(ng-show="timer", date="count")
    p
      a.button.button--jumbotron(href="") Присоединиться
