.map__card  
  h2 Когда
  p 
    span.fa.fa-calendar
    = ' '
    |28 ноября 2015 (сб), 11:00-18:00
  
  h2 Место проведения
  p  
    span.fa.fa-map-marker
    = ' '
    |Санкт-Петербург, пр. Медиков д.3, КДЦ “Club House” 
  p
    a(href="#") подробный маршрут
  
  h2 Контакты
  p 
    span.fa.fa-envelope-o
    = ' '
    a(href="mailto:piterunited@gmail.com") piterunited@gmail.com
  
  p 
    span.fa.fa-phone
    = ' '
    a(href="mailto:piterunited@gmail.com") +7 (901) 234-56-78
  

#canvas-map
