h2 Участники сообщества

ul.aside__list
  li.aside__item(ng-repeat="member in members")
    //- Блок с участниками можно сделать аналогично блокам сообществ и событий
    //- если надо добавить ссылку, то .aside__item-container  надо заменить
    //- на .aside__link
    //- и добавить аватку
    .aside__item-container
      .aside__title
        span.fa.fa-user
        |&nbsp;
        {{ member }}
