.container
  h1 Партнеры

  .layout-row.layout-wrap.layout-margin
    .flex.partners-itemo8
      a.partners-item__container
        .partners-item__logo
          img(src="http://placehold.it/70x70")
        .partners-item__desc Организатор

    .flex.partners-item
      a.partners-item__container
        .partners-item__logo
          img(src="http://placehold.it/70x70")
        .partners-item__desc Организатор

    .flex.partners-item
      a.partners-item__container
        .partners-item__logo
          img(src="http://placehold.it/70x70")
        .partners-item__desc Организатор

    .flex.partners-item
      a.partners-item__container
        .partners-item__logo
          img(src="http://placehold.it/70x70")
        .partners-item__desc Организатор

    .flex.partners-item
      a.partners-item__container
        .partners-item__logo
          img(src="http://placehold.it/70x70")
        .partners-item__desc Организатор
