span.timer__count {{ countdown.days }}
span.timer__divider :
span.timer__count {{ countdown.hours }}
span.timer__divider :
span.timer__count {{ countdown.minutes }}
span.timer__divider :
span.timer__count {{ countdown.seconds }}
