$body-bg-color: white;
$card-bg-color: white;

$text-color: #333;
$link-color: #F95F00;
$link-hover-color: darken($link-color, 10%);

$color-success: #85BB1A;
$color-error: #F96A21;

$font-family: Roboto, "Helvetica Neue", "Helvetica", Arial, sans-serif;
$font-size-base: 14px;

$mainLayoutWidth: 960px;
$mainLayoutPaddings: 20px;
