//= require skeleton/css/normalize
//= require skeleton/css/skeleton
//= require selectize/dist/css/selectize
//= require font-awesome
//= require angular-ui-notification/src/angular-ui-notification
//= require_self

@base: white;
@red1: #8C111B;
@red: #F22929;
@pink: #D94E67;
@gray: #525559;
@lgray: #AAB5BF;

.header{
  min-height: 200px;
}

.selectize-input input { height: 20px; }
.selectize-input div.item + input { display: inline-block; }

.form-group {
  margin-bottom: 30px;

  .has-error{
    input, textarea, select {
      border-color: red;
    }
  }

  &.has-error input, &.has-error textarea, &.has-error select {
    border-color: red;
  }
}

.selectize-control{
  margin-top: 10px;
  width: 100%;
  border: 2px solid black;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 4px;
}

.selectize-control.multi .selectize-input.has-items {
  padding: 8px;
}

.selectize-input {
  border: 2px solid black;
  box-shadow: none;

  &:hover, &:focus {
    box-shadow: none;
  }
}

.selectize-input.not-full > input {
  width: 100% !important;
}

.selectize-control.multi .selectize-input > div {
  border: 1px solid blueviolet;
  color: blueviolet;
  background: white;
  border-radius: 3px;
}

.selectize-dropdown, .selectize-input, .selectize-input { 
  line-height: 14px; 
}

.communities {
  list-style-type: none;
  padding: 0 0 0;
}

ul.events {
  color: black;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.event {
  text-transform: uppercase;
  font-size: 11px;

  .info {
    border-left: 2px solid black;
    padding-left: 3px;
    margin-left: 3px;
    padding: 0px 0px 0px 15px;
    text-transform: none;
    margin-top: 7px;
  }
}

.event-header {
  position: relative;

  .fa {
    position: relative;
    background: white;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    text-decoration: none;
  }

  &:before {
    position: absolute;
    top: 50%;
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: black;
  }

  a {
    font-family: Raleway, HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: black;
    text-decoration: none;
    position: relative;
    z-index: 2;
    display: inline-block;
    padding: 0 8px 0 8px;
    vertical-align: top;
    background-color: #ffffff;
    color: inherit;
  }
}

.toolbox {
  margin-bottom: 10px;

  input, input:hover, input:focus {
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0;
    padding: 10px 0;
  }
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  border-width: 2px;
  border-color: black;
  color: black;

  &:hover, &:focus {
    border-color: #eee;
    color: #eee;
  }
}

.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
  background-color: white;
  color: blueviolet;
  border-color: blueviolet;

  &:hover, &:focus {
    color: white;
    border-color: blueviolet;
    background-color: blueviolet;
  }
}

.list-header {
  margin-bottom: 20px;
  margin-top: 30px;
  position: relative;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  &:before {
    position: absolute;
    top: 50%;
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: black;
  }

  h1, h2, h3, h4, h5, h6 {
    position: relative;
    z-index: 2;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    vertical-align: middle;
    background-color: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
    color: inherit;
  }
}

.community_card {
  margin-right: 10px;
}

.profile-navbar {
  padding: 14px 0px;
}

.brand {
  img {
    width: 62px;
    margin: 0 30px 0 0;
  }
}

.community {
  position: relative;
  border: 2px solid #222;
  border-radius: 4px;
  padding: 4px 8px;
  width: 99px;
  height: 99px;
  display: inline-block;
  margin: 0 10px 10px 0;

  a{
    text-decoration: none;
    color: #222;
    &:hover {
      text-decoration: none;
    }
  }

  .properties {
    margin: 0;
    padding: 0;
    font-size: 10px;
    list-style-type: none;
    position: absolute;
    bottom: 10px;
    left: 10px;
    li{
      padding: 0;
      margin: 0;
    }
  }

  .element_name {
    position: absolute;
    top: 4px;
    right: 8px;
    color: #222;
    text-decoration: none;
    font-size: 3rem;
    font-family: monospace;
  }
}

.underline {
  margin-bottom: 20px;
  margin-top: 30px;
  position: relative;
  font-size: 12px;
  line-height: 20px;
  text-transform: lowercase;

  &:before {
    position: absolute;
    top: 50%;
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: black;
  }

  h1, h2, h3, h4, h5, h6 {
    position: relative;
    z-index: 2;
    display: inline-block;
    padding-right: 1em;
    vertical-align: middle;
    background-color: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
    color: inherit;
  }
}

.container {
  max-width: 800px;
}

.header {
  margin-top: 6rem;
  text-align: center;
}

/* Larger than phone */
@media (min-width: 550px) {
  .header {
    margin-top: 18rem;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  /* Navbar */
  .navbar + .docs-section {
    border-top-width: 0; }
  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; }
  .navbar-spacer {
    display: none; }
  .navbar > .container {
    width: 100%; }
  .navbar-list {
    list-style: none;
    margin-bottom: 0; }
  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0; }
  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222; }
  .navbar-link.active {
    color: #33C3F0; }
  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0; }
  .has-docked-nav .navbar-spacer {
    display: block; }
  /* Re-overiding the width 100% declaration to match size of % based container */
  .has-docked-nav .navbar > .container {
    width: 80%; }

  /* Popover */
  .popover.open {
    display: block;
  }
  .popover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    top: 92%;
    left: -50%;
    -webkit-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
       -moz-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
            filter: drop-shadow(0 0 6px rgba(0,0,0,.1)); }
  .popover-item:first-child .popover-link:after,
  .popover-item:first-child .popover-link:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .popover-item:first-child .popover-link:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px; }
  .popover-item:first-child .popover-link:before {
    border-color: rgba(238, 238, 238, 0);
    border-bottom-color: #eee;
    border-width: 11px;
    margin-left: -11px; }
  .popover-list {
    padding: 0;
    margin: 0;
    list-style: none; }
  .popover-item {
    padding: 0;
    margin: 0; }
  .popover-link {
    position: relative;
    color: #222;
    display: block;
    padding: 8px 20px;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.0rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: .1rem; }
  .popover-item:first-child .popover-link {
    border-radius: 4px 4px 0 0; }
  .popover-item:last-child .popover-link {
    border-radius: 0 0 4px 4px;
    border-bottom-width: 0; }
  .popover-link:hover {
    color: #fff;
    background: #33C3F0; }
  .popover-link:hover,
  .popover-item:first-child .popover-link:hover:after {
    border-bottom-color: #33C3F0; }
}

.navbar {
  border: none;
  margin-bottom: 10px;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: none;
  border-bottom: 2px solid black;
  border-radius: 0;
  padding: 10px 0;
  box-shadow: none;
  box-sizing: border-box;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
  height: 150px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: none;
  border-bottom: 2px solid black;
  border-radius: 0;
  padding: 10px 0;
  outline: 0; }

label, legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
}

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}

.devise_form {
  width: 250px;
  margin: 100px auto;
  text-align: center;

  a {
    color: black;
    text-decoration: none;
  }

  input {
    text-align: center;
  }

  .brand_link{
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
  }
}

ul.sn_links {
  li {
    display: inline-block;
    margin-right: 30px;
    font-size: 3rem;
    color: black;
  }
}

textarea, textarea:hover, textarea:focus {
  border: 2px solid black;
  border-radius: 4px;
  padding: 4px;
}