@import "variables";

.button {
  padding: 10px 20px;
  background: transparent;
  text-decoration: none;
  border-radius: 4px;
  border: none;
}

.button-block {
  width: 100%;
}

.button-success {
  background-color: $color-success;
  color: #fff;

  transition: background-color .2s ease-in;

  &:hover {
    background-color: darken($color-success, 10%);
  }
}
