// Place all the styles related to the communities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.floating-absolute-right{
	position: absolute;
	right: 100px;
	top: 313px;
}

.row.community-list{
	margin-top: -80px;
	padding-bottom: 80px;
}

.community-item{
	padding: 20px 20px;
	border-bottom: 1px solid #eee;
	vertical-align: middle;
	margin: none;
	svg{
		height: 100px;
		width: 100px;
		margin-right: auto;
		margin-left: auto;
	}
}

