// Place all the styles related to the communities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables.scss";

.moto-community{
	/*height: 150px;*/
	color: white;
	background-color: $header-background;
	margin-top: 0px;
	padding-top: 40px;
	padding-bottom: 80px;

	h3{
		margin-top: 0px;
	}

	p{
		margin-bottom: 10px;
	}

	.input-field input.validate{
		border-bottom: 1px solid #ddd;
		text-align: center;
		box-shadow: none;
		margin-top: 2.5rem;
	}
	.input-field input.validate:focus{
		border-bottom: 1px solid white;
		text-align: center;
		box-shadow: 0 1px 0 0 white;
	}
}

.community-list{
	padding-top: 36px;
	padding-bottom: 36px;
}

p.community-name{
	margin-top: 0px;
	margin-bottom: 0px;
}

p.community-title{
	font-weight: 100;
	margin-top: 0px;
	margin-bottom: 18px;
	font-size: 0.8em;
}

p.count-members-title{
	font-weight: 100;
	margin-top: 0px;
	font-size: 0.6em;
	color: #aaa;
}

p.count-members{
	margin: 0px;
}

/*.row.community-list{
	margin-top: -80px;
	padding-bottom: 80px;
}

.community-item{
	padding: 20px 20px;
	border-bottom: 1px solid #eee;
	vertical-align: middle;
	margin: none;
	svg{
		height: 100px;
		width: 100px;
		margin-right: auto;
		margin-left: auto;
	}
}*/

