// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-meetups{
	background-color: white;
	border-bottom: 1px solid #ddd;
}

.header-meetups-title{
	padding: 80px 0px;
	p{
		margin-bottom: 10px;
	}
	h3{
		margin-top: 0px;
	}
}

.meetup-list{
	padding-top: 60px;
	padding-bottom: 60px;
}

.meetups-item{
	border-top: 1px solid #ddd;
	padding: 20px 0px;
}

p.meetup-date{
	color: #bbb;
}

.card-panel.event{
	padding: 0px 0px;
}

.datetime{
	border-bottom: 1px solid #fafafa;
	padding: 10px 40px;
}

.title-event{
	padding: 18px 40px;
}

.months{
	padding-top: 40px;
	padding-left: 150px;
}

