@import "variables";

input[type="search"] {
  box-sizing: border-box;
}

.form__auth {
  width: 380px;
  margin: 4em auto 2em;
  padding: 3em 2em 2em 2em;
  background: $authFormBg;
  border: 1px solid $authFormBorderColor;
  box-shadow: $authFormBoxShadow;
}

.form__legend {
  margin-bottom: 30px;
  font-size: 24px;
  display: block;
  text-align: center;
  width: 100%;
}

.control__group {
  position: relative;
  margin-bottom: 30px;
}

.control__input,
.control__textarea {
  -webkit-appearance: none;
}

.control__input,
.control__textarea,
.control__select {
  font-size: 18px;
  padding: 10px;
  display: block;
  background: $formElBg;
  color: $formElColor;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $formElBorderColor;

  &:focus { outline: none; }


  .success & {
    border-bottom: 1px solid $color-success;
  }
  .error & {
    border-bottom: 1px solid $color-error;
  }
}

.control__textarea {
  min-height: 240px;
  resize: vertical;
}

.control__label {
  color: $formLabelDefaultColor;
  font-size: 1em;
  font-weight: normal;
  cursor: pointer;
}

.control__error {
  color: $formLabelErrorColor;
  font-size: .9em;
  padding: 10px 0 0;
}

.control__hint {
  font-size: .9em;
  padding: 10px 0 0;
  color: $formHintColor;
}

.auth__subnav {
  margin: 0 auto 2em;
  text-align: center;
}

.control__group {
  .selectize-control {
    @extend .control__input;

    .selectize-input,
    .selectize-input.has-items {
      padding: 0;
      border: none;
      border-radius: 0;
      box-shadow: none;
    }

    .selectize-input,
    &.single .selectize-input.focus {
      background-color: transparent;
    }

    .selectize-input > div {
      margin: 0 3px 0 0;
    }

  }

}

