// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.moto{
	background-color: #e57373;
	/* #00BCD4 */
	border-bottom: 1px solid #eee;
	padding: 120px 0px;
	color: white;
	h3{
		margin-bottom: 5px;
	}
	p{
		padding-top: 5px;
		margin: 0px;
	}
	a{
		margin-top: 30px;
		text-align: right;
	}
}

.calltoaction-container{
	text-align: right;
}

a.callto{
	margin-top: 130px;
}

.landing-item-white{
	border-bottom: 1px solid #eee;
	padding: 80px 0px;
	background-color: white;
}

.landing-item{
	border-bottom: 1px solid #eee;
	padding: 80px 0px;
}

p.title{
	font-weight: bold;
	color: #e57373;
}

.parallax-container{
	height: 300px;
	text-align: center;
}

.partners{
	text-align: center;
}
