// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.moto{
	text-align: center;
	background-color: #fafafa;
	margin-top: -20px;
	padding: 200px 0px;
}

.stat{
	text-align: center;
	border-bottom: 1px solid #fafafa;
	padding: 80px 0px;
}

.about_pu{
	border-bottom: 1px solid #fafafa;
	padding: 80px 0px;
	background-color: #fafafa;
}

.about_itgm{
	border-bottom: 1px solid #fafafa;
	padding: 80px 0px;
}