/* Stick Footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fafafa;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #5c5c5c;
}

main {
  flex: 1 0 auto;
}

.brand-img{
  width: 50px;
  margin-top: 10px;
}

.row{
  margin-bottom: 0px;
}

nav{
  background-color: #e57373;
  box-shadow: none;
}

footer.page-footer{
  margin-top: 0px;
  background-color: #455A64;
}