/* Stick Footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fafafa;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

main {
  flex: 1 0 auto;
}

.row{
  margin-bottom: 0px;
}

nav{
  background-color: #00BCD4;
  box-shadow: none;
}

footer.page-footer{
  margin-top: 0px;
  background-color: #455A64;
}