/* Stick Footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fafafa;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #5c5c5c;
}

main {
  flex: 1 0 auto;
}

.brand-img{
  width: 50px;
  margin-top: 10px;
}

a.floating-absolute-right{
  position: absolute;
  right: 100px;
  bottom: -25px;
}

.row{
  margin-bottom: 0px;
}

nav{
  background-color: #e57373;
  box-shadow: none;
}

footer.page-footer{
  margin-top: 0px;
  background-color: #455A64;
}

/* Login and Sign Up */

.login-card{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.actions{
  display: inline-block;
  
  a{
    padding-left: 15px;
    font-size: 14px;
  }
}

.new{
  position: relative;
}

.card-panel.newitemform{
  padding: 20px;
  margin-top: -80px;
  margin-bottom: 80px;
}

.remember{
  display: inline-block;
}