= form_for(@community) do |f|
  - if @community.errors.any?
    #error_explanation
      h2
        = pluralize(@community.errors.count, "error")
        | prohibited this community from being saved:
      ul
        - @community.errors.full_messages.each do |message|
          li= message
  .field
    = f.label :name
    br/
    = f.text_field :name
  .field
    = f.label :description
    br/
    = f.text_area :description
  .field
    = f.label :links
    br/
    = f.text_field :links
  .field
    = f.label :logo
    br/
    = f.text_field :logo
  .field
    = f.label :hashtag
    br/
    = f.text_field :hashtag
  .field
    = f.label :tags
    br/
    = f.text_field :tags
  .actions
    = f.submit
