<main-menu></main-menu>

<div class="container">
  <div class="event">
    <div class="calendar">
      <div class="date">{{event.start | date:'dd'}}</div>
      <div class="month">{{event.start | date:'MMMM'}}</div>
    </div>
    <div class="title-blk">
      <div class="title">{{event.title }}</div>
      <div ng-bind-html="event.description | rawHtml" class="subtitle"></div>
    </div>
    <div class="tail">
      <div class="time">{{event.start | date: 'HH:mm'}} - {{event.finish | date: 'HH:mm'}}</div>
      <div class="loc">{{event.location.display}}</div>
    </div>
  </div>
</div>