.devise_form
  a.brand_link(href="#/") piter – united

  form(ng-submit='submit()', novalidate='novalidate', ng-controller='SignInCtrl')
    {{ error }}
    input.u-full-width(type='email', name='user[email]', ng-model='credentials.email', placeholder='email')
    input.u-full-width(type='password', name='user[password]', ng-model='credentials.password', placeholder='пароль', autocomplete='off')
    input.button.button-lg.button-primary.button-block(type='submit', name='commit', value='Войти')

  p
    a.text-shadow.p-20(href='#/sign_up') Зарегистрироваться

  ul.sn_links
    li
      a.sn_link(href='/users/auth/vkontakte')
        i.fa.fa-vk.text-shadow

    li
      a.sn_link(href='/users/auth/facebook')
        i.fa.fa-facebook.text-shadow

    li
      a.sn_link(href='/users/auth/gplus')
        i.fa.fa-google-plus.text-shadow

    li
      a.sn_link(href='/users/auth/github')
        i.fa.fa-github.text-shadow
