form.form__auth
  legend.form__legend Зарегистрироваться
  //- Если нужны стейты success, error
  //- можно добавлять к .control__group классы
  //- .success, .error

  .control__group
    ul.auth__social-list.text-center
      li.auth__social-item
        a(href="/users/auth/vkontakte", class="auth__social-link")
          span.fa.fa-vk

      li.auth__social-item
        a(href="/users/auth/facebook", class="auth__social-link")
          span.fa.fa-facebook

      //- li.auth__social-item
      //-   a(href="/users/auth/twitter", class="auth__social-link")
      //-     span.fa.fa-twitter

      li.auth__social-item
        a(href="/users/auth/gplus", class="auth__social-link")
          span.fa.fa-google-plus

      li.auth__social-item
        a(href="/users/auth/github", class="auth__social-link")
          span.fa.fa-github

  .control__group.error
    label(for="email", class="control__label") Email
    input(type="email", id="email", class="control__input", require)
    .control__error Пользователя с таким адресом не существует

  .control__group
    label(for="password", class="control__label") Пароль
    input(type="password", id="password", class="control__input", require)

  .control__group
    label(for="password-again", class="control__label") Подтвердите пароль
    input(type="password", id="password-again", class="control__input", require)

  .control__group
    button(class="button button-block button-success") Зарегистрироваться

.auth__subnav
  a(ui-sref="register()") Войти
